body {
  background-color: #e1e1e2;
}

a.active {
  background-color: rgba(241, 238, 236, 0.5);
  border-left: 4px solid #5bd4dc;
}

.bg-sidebar {
  background-color: var(--main-color);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
